<div class="ui basic center aligned segment">
    <h2 class="ui header">Social Media</h2>
    <ul class="ui list">
        <li>Linked-In</li>
        <li>GitHub</li>
        <li>Instagram</li>
        <li>Twitter</li>
    </ul>
</div>
<div class="ui section hidden divider"></div>

<div class="ui text container">
    <h2 class="ui center aligned icon header">
        <i class="circular envelope outline icon"></i>
        Email Form</h2>
    <div class="ui divider"></div>

    <div class="ui segment">
        <div class="ui form">
          <div class="two fields">
            <div class="field">
              <label>Name</label>
              <input placeholder="Name" type="text">
            </div>
            <div class="field">
              <label>Email</label>
              <input placeholder="youremail@domain.com" type="text">
            </div>
          </div>
          <div class="field">
            <label>Subject</label>
            <input type="text" name="subject" placeholder="Message Subject">
          </div>
          <div class="inline field">
            <div class="field">
                <label>Message</label>
                <textarea placeholder="Enter message body..." rows="4"></textarea>
            </div>
          </div>
          <div class="ui submit button">
            <i class="envelope icon"></i>Send</div>
        </div>
      </div>

</div>
