$light: #F0F0F0;
$primary: #5695a6;
$secondary: #E5D283;
$green: #c7787c;
$darkest: #0c1c33;


:host {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 75vh;
    background-color: $darkest;
    background-image: url('https://images.unsplash.com/photo-1623042881382-cf8b93f284d8?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1935&q=80');
    color: $light;
}

.container {
    margin:25px;
    width: 60vw;
    h1 {
        font-size:100px;
        color:#c7787c;
        margin-top:50px;
    }

}

p {
    background-color: #0c1c3350;
    padding: 5px 20px;
}
.hobby {
    font-size: 22px;
    font-weight: 600;
    span {
        text-align: center;
        background-color: $green; 
        padding:5px;
        color: $darkest;
        font-weight: 800;
    }
}

.footer {
    width: 100vw;
    height: 50px;
}