
<h1>Skills</h1>

<div class="ui four column doubling stackable grid container">
    <div class="four wide column">
        <div class="ui segment tSkills">
            <div class="ui large top attached label">Java</div>
            <ul class="ui list">
                <li>Java Core</li>
                <li>Spring Boot</li>
                <li>JUnit</li>
                <li>Camel Routing and ActiveMQ</li>
                <li>RESTful webservices</li>
                <li>Maven</li>
                <li>JDBC</li>
            </ul>
        </div>
    </div>
    <div class="four wide column">
        <div class="ui segment tSkills">

            <div class="ui large top attached label">Front End</div>
            <ul class="ui list">
                <li>Angular
                    <ul>
                        <li>TypeScript/JavaScript</li>
                        <li>HTML/CSS</li>
                    </ul>
                </li>
                <li>Style Frameworks
                    <ul>
                        <li>Angular Material</li>
                        <li>Semantic UI (css only)</li>
                        <li>Bootstrap</li>
                        <li>Bulma</li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <div class="four wide column">
        <div class="ui segment tSkills">
            <div class="ui large top attached label">Database</div>
            <ul>
                <li>SQL/MYSQL</li>
                <li>Oracle/PLSQL
                    <ul>
                        <li>Stored Procedures</li>
                    </ul>
                </li>
            </ul>
            <p></p>
            <p></p>
        </div>
    </div>
    <div class="four wide column">
        <div class="ui segment tSkills">
            <div class="ui large top attached label ">DevOps/Tools</div>
            <ul>
                <li>TFS</li>
                <li>Version Control: Git (GitHub, GitLab), SVN</li>
                <li>CICD: Openshift</li>
                <li>Build Manager: Jenkins</li>
                <li>VSCode</li>
                <li>PureRef</li>
            </ul>
        </div>
    </div>
</div>


<div class="ui segment">
    <div class="ui large top attached label">Interpersonal</div>
    <h3>Teamwork</h3>
    <p>
        I love working in a team setting. 
    </p>

    <h3>Leadership</h3>
    <p>
        Something about being leader of teams
    </p>
    <h3>Frameworks</h3>
    <p>
        Something about Agile/SAFE
    </p>
</div>
<h1>Common Questions</h1>
<h4>What am I looking for in a new position?</h4>
<div class="ui fluid placeholder">
    <div class="header">
      <div class="line"></div>
    </div>
    <div class="paragraph">
      <div class="line"></div>
      <div class="line"></div>
      <div class="line"></div>
    </div>
</div>

<h4>About the break on my resume?</h4>
<div class="ui fluid placeholder">
    <div class="header">
      <div class="line"></div>
    </div>
    <div class="paragraph">
      <div class="line"></div>
      <div class="line"></div>
      <div class="line"></div>
    </div>
</div>



<h1>Work Experience</h1>
<div class="ui divided items">
    <div class="item">
      <div class="image">
        <img src="https://semantic-ui.com/images/wireframe/image.png">
      </div>
      <div class="content">
        <a class="header">UPS</a>
        <div class="meta">
          <span>Intermediate Applications Developer</span>
        </div>
        <div class="description">
        
            <ul class="ui list">
                <li>Project: Legacy System Replacement - Developed
                    Java/Spring Boot microservices that interfaced
                    with current legacy systems and various
                    databases via JMS</li>
                <li>Contributed during every stage of the project and
                    application lifecycle on mission-critical systems
                    design, implementation, integration, testing, and
                    maintenance</li>
                <li>As Scrum Master, mentored junior devs, facilitated agile
                    ceremonies, coordinated efforts across multiple
                    teams, actively removed blockers for the team,
                    and was the driving force behind many process
                    improvements</li>
                <li>Contributed ideas and suggestions in team
                    meetings and delivered updates on deadlines,
                    designs and enhancements</li>
            </ul>
        </div>
        <div class="extra">
          2019-2022
        </div>
      </div>
    </div>

    <div class="item">
        <div class="image">
          <img src="https://semantic-ui.com/images/wireframe/image.png">
        </div>
        <div class="content">
          <a class="header">UPS</a>
          <div class="meta">
            <span>Co-Op</span>
          </div>
          <div class="description">
            
            <ul class="ui list">
                <li>Gained full-stack experience with programming
                    fundamentals, SDLC, debugging/defect fixing,
                    design, testing, etc</li>
                <li>Mentored incoming co-ops, ensured their
                    questions were answered, brought up to speed,
                    and felt welcomed to the team</li>
                <li>Project: Master Crew List - migrated legacy VB
                    application that handles updating TSA with a
                    master list of UPS Crew to Java to better integrate
                    with existing systems and eliminate technical debt</li>
            </ul>
          </div>
          <div class="extra">
            2014-2018
          </div>
        </div>
      </div>
  </div>


<h1>Education</h1>
<h3>Online Certifications</h3>
<ul class="ui list">
    <li>Udemy</li>

</ul>

<h3>Professional Courses Taken</h3>
<ul class="ui list">
    <li>Scrum Master Training</li>
    <li>Introduction to Openshift</li>
</ul>
<h3>University</h3>
<div class="ui items">
    <div class="item">
      <div class="ui small image">
        <img src="https://semantic-ui.com/images/wireframe/image.png">
      </div>
      <div class="content">
        <div class="header">University Of Louisville</div>
        <div class="meta">
          <span class="date">2012-2016</span>
          <span class="degree">Bachelor's of Computer Engineering and Science</span>
        </div>
        <div class="description">
            <ul class="ui list">
                <li>Engineering Sorority - Phi Sigma Rho - Delta class</li>
                <li>Society of Women Engineers</li>
                <li>Dance Teams: Cardinal Kpop & Cardinal Hip Hop</li>
            </ul>
        </div>
      </div>
    </div>
  </div>