
$light: #f4f6f5;
$primary: #5695a6;
$secondary: #c7787c;
$green: #56cc85;
$gLight: #7eed90;
$darkest: #0c1c33;



.top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: $darkest;
    background-image: url('https://images.unsplash.com/photo-1623300834538-538d044aff3e?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1932&q=80');
    
    .box {
        padding: 50px 150px 50px 150px;
        border: 15px #f4f6f5 solid;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #0c1c3359;
        
        .my-name {
            color: #f4f6f5;
            padding-left: 5px;
            padding-right: 5px;
            font-size: 60px;
            font-weight: 700;
            font-style:bold;
            z-index: 1;
        }
        
        .job {
            margin-top:25px;
            padding: 2px;
            color: #f4f6f5;
            font-size: 25px;
            z-index: 1;
        
        }

    }    
    
    .socials {
        display: flex;
        flex-direction: row;
        padding-top:20px;
        justify-content: space-evenly;
        width: 400px;
        img:hover {
            transform: scale(1.1);
        }
    }

}





