
<div class="ui two column center aligned centered padded grid">
    <div class="column">
        <img class="ui medium circular image" src="https://images.unsplash.com/photo-1692467482423-e7c47521a4e4?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHx0b3BpYy1mZWVkfDE4fEpwZzZLaWRsLUhrfHxlbnwwfHx8fHw%3D&auto=format&fit=crop&h=500&w=500&q=60">
    </div>
    <div class="column">
        <h1 class="ui header">
        Kait Masden
        <div class="sub header">Senior Full-Stack Applications Developer</div>
        </h1>
        <div class="divider"></div>
        <div class="ui placeholder">
            <div class="full line"></div>
            <div class="full line"></div>
            <div class="full line"></div>
            <div class="full line"></div>
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
        </div>
           
        <div class="ui divider"></div>
        <div class="ui two column grid">
            <div class="column left aligned">
                <button class="ui circular linkedin icon button">
                    <i class="linkedin icon"></i>
                </button>
                <button class="ui circular github icon button">
                    <i class="github icon"></i>
                </button>
            </div>
            <div class="column right aligned">
                <button class="ui circular instagram icon button">
                    <i class="instagram icon"></i>
                </button>
                <button class="ui circular twitter icon button">
                    <i class="twitter icon"></i>
                </button>
            </div>
        </div>
    </div>
</div>
<div class="ui section hidden divider"></div>
<div class="ui inverted message">

<div class="ui segment inverted center aligned basic">
        <h2 class="ui center aligned header">Are you looking to hire me?</h2>
        <div class="ui animated large inverted primary button" tabindex="0">
            <div class="visible content">Start Here!</div>
            <div class="hidden content">
              <i class="right arrow icon"></i>
            </div>
        </div>
    </div>
</div>

