<h1 class="ui header">Personal Site</h1>
<div class="ui text">
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ornare arcu odio ut sem nulla. Magna fermentum iaculis eu non. Amet purus gravida quis blandit turpis cursus in hac. In dictum non consectetur a erat nam at. Maecenas pharetra convallis posuere morbi leo urna molestie at elementum. Bibendum neque egestas congue quisque egestas. Tempus iaculis urna id volutpat. Nulla pellentesque dignissim enim sit amet venenatis urna cursus. Risus nullam eget felis eget nunc lobortis mattis. Dictum at tempor commodo ullamcorper a lacus vestibulum sed. Lectus 
    </p>
</div>

<h1 class="ui header">Github Repos</h1>
<div class="ui text">
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ornare arcu odio ut sem nulla. Magna fermentum iaculis eu non. Amet purus gravida quis blandit turpis cursus in hac. In dictum non consectetur a erat nam at. Maecenas pharetra convallis posuere morbi leo urna molestie at elementum. Bibendum neque egestas congue quisque egestas. Tempus iaculis urna id volutpat. Nulla pellentesque dignissim enim sit amet venenatis urna cursus. Risus nullam eget felis eget nunc lobortis mattis. Dictum at tempor commodo ullamcorper a lacus vestibulum sed. Lectus 
    </p>
</div>

<h1 class="ui header">Other</h1>
<div class="ui text">
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ornare arcu odio ut sem nulla. Magna fermentum iaculis eu non. Amet purus gravida quis blandit turpis cursus in hac. In dictum non consectetur a erat nam at. Maecenas pharetra convallis posuere morbi leo urna molestie at elementum. Bibendum neque egestas congue quisque egestas. Tempus iaculis urna id volutpat. Nulla pellentesque dignissim enim sit amet venenatis urna cursus. Risus nullam eget felis eget nunc lobortis mattis. Dictum at tempor commodo ullamcorper a lacus vestibulum sed. Lectus 
    </p>
</div>